// Variables
$primary-color: #007bff;
$secondary-color: #ff5722;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Your styles
body {
  font-family: 'Arial', sans-serif;
  background-color: #FFFFFF;
  margin: 0 auto;
}

/*.button {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}*/