.container-content{
    flex: auto;
    padding: 0 20px;
}

.main-content {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 80px;
    border-radius: 5px;
}

.title-content {
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitle-content {
    color: #555555;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #555555;
}

.table .table-head {
    background-color: #E9ECEF;
    color: #495057;
    font-size: 12px;
    text-align: center;
}

.table td {
    font-size: 14px;
    color: #555555;
}

.column-title {
    vertical-align: middle;
    text-align: center;
}

.btn .back-button {
    display: inline-flex;
    align-items: center; 
    padding-right: 15px;  
    border-radius: 30px;
}

.add-button {
    margin: 10px 0 10px 0;
}

.row-controller .btn {
    margin: 10px 5px 20px 0;
}